@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C7DBE6;
}

.clip-path {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.clip-path-2{
  clip-path: polygon(0 70%, 0% 100%, 80% 100%);
  background-color: #0078D7;
}

.icon {
  opacity: 0.2;
  width: 40px;
  height: 40px;
}

.load {
  height: 2px;
  width: 30%;
  margin: 0 auto;
}

.load div {
  height: 2px;
  width: 0;
  background: #fff;
}

.install {
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  background: #000;
}

.install h1 {
  font-size: 50px;
  margin: 60px 0 20px;
}

.install h2 {
  flex: 2;
  color: #888;
  font-size: 18px;
  margin: 0 0 20px;
}

.install svg {
  display: flex;
  flex: 50;
  width: 50%;
  max-width: 350px;
}

.install footer {
  display: flex;
  flex: 2;
  max-width: 700px;
  width: 90%;
  margin-top: auto;
  margin-bottom: 30px;
}

.install footer ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.install footer ul li {
  display: flex;
  color: #999;
  font-size: 12px;
}

.install footer ul li.active {
  color: #fff;
}

footer ul li .percent {
  margin-left: 3px;
}

.install .done {
  color: #0087E5;
}

:-webkit-full-screen {
  display: block !important;
}

:-moz-full-screen {
  display: block !important;
}

:full-screen {
  display: block !important;
}

:-moz-full-screen #bluescreen {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -320px;
}